* {
  box-sizing: border-box;
}
.content {
  font-size:27px;
}
span {
  color:red;
}
.content h1 {
  font-weight:bold;
  color:black;
}
.container {
  margin-left:80px;
}
a {
  text-decoration: none;
  background-color: none;
}
